# Maven
target/
.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# OS
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Logs
*.log
logs/

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Tests / reportes
**/test-output/
**/surefire-reports/
**/failsafe-reports/

# Docs
README.md